
.dashboard{
  display: grid;
  grid-template-columns: 500px 500px;
  grid-template-rows: 400px 400px;
}

.dashboard div{
  border: 1px solid black;
  background-color: orange;
}
/*navbar css*/
.flex-container {
  background: #1F2937;
  height: 25px;
  width: 1325px;
  display: flex;
  padding: 50px;
}

.flex-container div {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: white;
}

.flexitem1 {
  justify-content: left;
  font-size: 48px;
  font-weight: bold;

}

.flexitem2 {
  display: flex;
  text-align: center; 
  margin-left: 700px;
  width: 300px;
  height: 50px;
}

.flexitem2 div{
 flex:1;
 font-weight: 800;
}

.flexitem3 {
  display: flex;
  flex-direction: column;
  width: 500px;
}
/*
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 1rem;
}

.navbar-brand {
  font-size: 1.5rem;
}

.navbar-links {
  display: flex;
  gap: 1rem;
}

.navbar-link {
  font-size: 1.2rem;
  text-decoration: none;
  color: white;
  transition: all 0.3s ease;
}

.navbar-link:hover {
  color: #ffc107;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
*/