/*View appointments*/
.appointments-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
  grid-column: 2 /3;
  grid-row: 3 / 6;
  padding: 20px;
  padding-top: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.appointment-card {
  padding: 20px;
  border: 1px solid #ccc;
  border-left: solid darkcyan 10px;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 5px 5px 5px grey;
  border: solid balck 2px;
}

.view-appointments-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}

/*track progress */
.track-progress-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}

.progress-card {
  padding: 20px;
  border: 1px solid #ccc;
  border-left: solid darkcyan 10px;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 5px 5px 5px grey;
  border: solid balck 2px;
}

/*navbar css*/
.flex-container {
  background-color: #422048;
  height: 50px;
  width: 1425px;
  color: white
}


.dashboard {
  display: grid;
  grid-template-columns: 200px 3fr 1fr; /* Adjust the column widths as needed */
  height: 100vh; /* Set the height of the dashboard to full viewport height */
}

.sidebar {
  background-color: #f7f0fa;
  padding: 20px;
}

.projects {
  background-color: #f7f0fa;
  padding: 20px;
  border-left: 2px solid #d6c5dd;
}

.track {
  background-color: #fdf7ff;

  padding: 20px;
}

.dashboard div {
  font-family: 'Georgia', sans-serif;
  
}


/*welcome*/

.welcome{
  padding: 50px;

  display: flex;

  gap: 50px;
}

.welcome div{
  color: white;
  border-radius: 10px;
  background-image:url('./assets/mechanc-icon.jpg');
  text-align: center;
  padding: 10px;
  padding-top: 30px;
  flex: 1;
  height: 50px;
  width: 50px;
  
}

.sidebars {
  gap: 1px;
  padding-left: 20px;
  font-weight: bold;
  padding-top: 50px;

}

.sidebars div {
  padding: 10px;
  padding-left: 20px;
  color: black;
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;

  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
  a{
    color: #1a1a1a;
  }
}